.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.home__header{
    display: flex;
    justify-content:right;
    padding: 20px 20px;
    align-items: center;
}

.home__headerRight{
    display: flex;
    align-items: center;
}
.home__headerRight p{
    margin-left: 20px;
    font-size: 15px;
}
.home__headerRight>svg{
    margin-left: 20px;
    color: gray;
}

.home__headerRight .MuiAvatar-root{
    margin-left: 20px;
}

/* body */
.home__body{
    display: flex;
    flex: 1;
    margin-top: 3%;
    flex-direction: column;
}
.home__body>img{
    object-fit: contain;
    height: 95px;
}
.language{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: small;
    word-spacing: 3px;

}
.language span{
    color: blue;
    cursor: pointer;
}
.footer{
    /* display: flex; */
    height: 30px;
    color: #70757a;
}
.footer__body{
    display: flex;
    justify-content: space-between;
    align-content: center;
    position:fixed;
    bottom: 0;
    height: 7vh;
    width: 100vw;
    background-color: #f1f2f6;
}
.footer__left, .footer__right{
    display: flex;
    align-items: center;
}
.footer__left p{
    margin-left: 20px;
    cursor: pointer;
}
.footer__right p{
    margin-right: 20px;
    cursor: pointer;
}
.location{
    display: flex;
    align-content: center;
    align-items: center;
    position:fixed;
    bottom: 7vh;
    height: 7vh;
    width: 100vw;
    background-color: #f1f2f6;
    padding-left: 20px;
    border-bottom: 1px solid #dadce0;
    cursor: pointer;
}