.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 25px;
    padding: 10px 15px;
    width: 500px;
    margin: 0px auto;
    margin-top: 30px;
    border-radius: 999px;
}
.search__input input{
    flex: 1;
    padding: 8px 13px;
    font-size: medium;
    border: none;
    outline: none;
    cursor: pointer;
}
.searchicon{
    color: gray;
    cursor: pointer;
}
.searchicon__mic{
    cursor: pointer;
}
.search__buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.search__buttons>button{
    margin: 5px;
    background: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #000;
}
.search__buttons>button:hover{
    margin: 5px;
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #000;
}
